/* -->  "Meslo LG S"
@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype") 
  //*/
/* /* -->  "Source Han Serif K"  */
@font-face 
  font-style: normal;
  font-family: "Source Han Serif";
  src: local("Source Han Serif K"), url("../lib/SourceHanSerifOTC_EL-M/SourceHanSerif-Medium.ttc") format("TrueType Collection"); 
  //*/
@font-face {
  font-style: normal;
  font-family: "mononoki";
  src: local("mononoki"), url("../lib/mononoki/mononoki-Regular.ttf") format("truetype")
}